<% provide(:title, t('.contact')) %>
<h1>Contact</h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <%= link_to "contact page", "https://www.railstutorial.org/contact" %>.
</p>
